{% extends "bike_portfolio/base.html" %}
{% block content %}

<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container p-4 mx-auto">
    <div class="flex flex-col w-full m-8">
      <h1 class="text-2xl font-medium title-font text-white tracking-widest">Repair Log</h1>
      {% if issue is None %}
        <p class="mb-4 text-green-500">No action needed</p>
      {% endif %}
    </div>
    <div class="flex flex-wrap -m-4">
    {% for issue in issues %}
    <div class="p-4 w-full border border-gray-800 hover:border hover:border-gray-900 mb-4">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg h-48 object-cover object-center" src="{{issue.issue_image.url}}">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-white"></h2>
            <h3 class="text-gray-500 mb-3">{{ issue.reported_by }} {{issue.date_reported}}</h3>
            <p class="mb-4 text-red-500 line-clamp-5">{{ issue.issue_description }}</p>
            <span class="inline-flex">
              <form action="{% url 'staff-delete-issue' issue.id %}" method="POST">
                {% csrf_token %}
                <button class="inline-flex text-white bg-yellow-500 border-0 py-1 px-4 focus:outline-none hover:bg-yellow-600 rounded mr-4">Mark as fixed</button>
              </form>
              <form action="{% url 'staff-edit-issue' issue.id %}" method="GET">
                {% csrf_token %}
                <button class="inline-flex text-white bg-yellow-500 border-0 py-1 px-4 focus:outline-none hover:bg-yellow-600 rounded mr-4">Edit issue</button>
              </form>
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

{% include "bike_portfolio/bike_detail_content.html" %}

</section>
    <form action="{% url "staff-delete-bike" bike.id %}" method="POST">
      {% csrf_token %}
      <button class="text-white bg-red-500 border-0 w-auto m-2 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg" >Delete this bike</button>
    </form>
    <form action="{% url "staff-edit-bike" bike.id %}" method="GET">
      {% csrf_token %}
      <button class="text-white bg-yellow-500 border-0 w-auto m-2 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg" >Edit this bike</button>
    </form>


{% endblock content %}