{% extends "bike_portfolio/base.html" %}
{% block content %}

<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-2/3 md:w-2/3 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col w-full mt-10 md:mt-0 md:ml-auto mr-auto">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-white text-lg font-medium title-font mb-5">Edit issue (nr {{issue.id}}) {{ bike.brand }} {{ bike.line }} {{ bike.model }} (nr {{bike.id}})</h2>
        <div class="py-8">
          {{ form.as_p }}
          <button class="text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg ml-auto" type="submit">Edit</button>
        </div>
      </form>
    </div>
  </div>
</section>


{% endblock content %}