{% extends "bike_portfolio/base.html" %}
{% block content %}

<section class="text-gray-400 bg-gray-800 body-font">
  <div class="container p-4 mx-auto">
    <div class="flex flex-col text-center w-full m-8">
      <h1 class="text-4xl font-medium title-font text-white">Repair Log</h1>
      <form action="{% url 'staff-add-bike' %}" method="GET">
        {% csrf_token %}
        <button class=" mx-auto text-white bg-yellow-500 border-0 py-2 px-8 m-4 focus:outline-none hover:bg-yellow-600 rounded text-lg "><a href="{% url "staff-add-bike" %}">Add new bike</a></button>
      </form>
    </div>
    <div class="flex flex-wrap -m-4">
    {% for bike in bike_list %}
    <div class="p-4 w-full border border-gray-800 hover:border hover:border-gray-900 mb-4">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg h-48 object-cover object-center w-48" src="{{bike.image_main.url}}">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-white"></h2>
            <h3 class="text-gray-500 mb-3">{{ bike.brand }} {{bike.line}} {{ bike.model }}</h3>
            {% if bike.unresolved_issues_count > 0 %}
            <p class="mb-4 text-red-500"> <a href="{% url "staff-detail" bike.id %}">Unresolved Issues: {{ bike.unresolved_issues_count }}</a></p>
            {% else %}
            <p class="mb-4 text-green-500">No action needed</p>
            <span class="inline-flex">
            {% endif %}
            <button class="inline-flex text-white bg-yellow-500 border-0 py-1 px-4 focus:outline-none hover:bg-yellow-600 rounded mr-4"> <a href="{% url "staff-add-issue" bike.id %}">Add Issue</a></button>
            <form action="" method="get">
              {% csrf_token %}
              {% if bike.is_available %}
              <button class="inline-flex text-white bg-red-500 border-0 py-1 px-4 focus:outline-none hover:bg-yellow-600 rounded mr-4"> <a href="{% url "staff_mark_available" bike.id %}">Mark as unavailable</a></button>
              {% else %}
              <button class="inline-flex text-white bg-green-500 border-0 py-1 px-4 focus:outline-none hover:bg-yellow-600 rounded mr-4"> <a href="{% url "staff_mark_available" bike.id %}">Mark as available</a></button>
              {% endif %}
            </form>

              <a class="text-yellow-400 inline-flex items-center" href="{% url "staff-detail" bike.id %}">Details
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}