<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if website_title%}
        <title>{{website_title}}</title>
    {% else %}
        <title>bikes.com</title>
    {% endif %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-gray-400 bg-gray-900 body-font">

{% include "bike_portfolio/header.html" %}

{% include "bike_portfolio/message_alerts.html" %}

{% block content %}{% endblock %}

{% include "bike_portfolio/footer.html" %}

</body>
</html>